@media (max-width: 1024px) and 
(min-width: 768px){
    
    .header {
        &__title {
            font-size: 30px;
        }
    }
    }
    .fon {
        &__star {
            &_big {
                display: none;
            }
        }
    }
    .center {
        padding-left: calc(50% - 350px);
        padding-right: calc(50% - 350px);
        }
    .cart-game {
        &__namber {
            margin-top: 20px;
        }
        &__name {
            height: 90px;
            font-size: 24px;
            line-height: 30px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
    .minigame {
        overflow: hidden;
        padding-bottom: 40px;
        
    }
    .preview-game {
        
        &__text {
            padding: 30px;
        }
        &__title {
            font-size: 32px;
            line-height: 45px;
        }
        &__description {
            font-size: 16px;
            line-height: 26px;
            margin-top: 18px;  
        }
        &__button {
            margin-top: 20px;
        }
        &__br {
            display: none;
        }
        &__img {
            max-width: 380px;
            max-height: 380px;
        }
    }
    .footer {
        height: 120px;
    }
        }

