@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.fon__star {
  position: absolute;
}
.fon__star_big {
  left: 933px;
  top: 77px;
  transform: rotate(-6.77deg);
  overflow: hidden;
}
.fon__star_medium {
  left: 27.97px;
  top: 770px;
  transform: rotate(5.45deg);
}
.fon__star_litle {
  left: 45.18px;
  top: 822px;
  transform: rotate(5.45deg);
}
.fon__star_topm {
  left: 1156px;
  top: 93px;
  transform: rotate(5.45deg);
}
.fon__star_topl {
  left: 1199px;
  top: 126px;
  transform: rotate(7.08deg);
}
.fon__star_butm {
  left: 1198px;
  bottom: 65px;
}
.fon__star_butl {
  left: 1128px;
  bottom: 45px;
}

/*_______Главная_страница_____*/
.header {
  display: flex;
  position: relative;
  overflow-x: hidden;
  background-image: url(./Image/HEADER_FON_ALL.jpeg);
  background-size: cover;
  height: 800px;
}
.header__textblock {
  position: relative;
}
.header__title {
  padding-top: 196px;
  color: rgb(32, 32, 39);
  font-family: inherit;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.header__text {
  color: rgb(32, 32, 39);
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 48px;
}
.header__button {
  cursor: pointer;
  position: static;
  width: 247px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 28px 16px 28px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 48px 0px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
}
.header__button:hover {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}
.header__runline {
  overflow: hidden;
  position: absolute;
  width: 3220px;
  height: 90px;
  left: -30px;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10;
  padding: 27px 49px 27px 49px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
}
.header__runline-link {
  color: rgb(32, 32, 39);
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}

/*______Об_играх_____*/
.aboutgame {
  position: relative;
  padding-top: 94px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: rgb(32, 32, 39);
}
.aboutgame__title-text {
  position: relative;
}
.aboutgame__title {
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.aboutgame__text {
  margin-top: 24px;
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.aboutgame__conteiner {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 72px;
  gap: 32px;
}
.aboutgame__conteiner-column {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.cart-game {
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
}
.cart-game:hover {
  transform: scale(1.04);
}
.cart-game__img {
  grid-column: span 4;
  border-radius: 30px;
}
.cart-game__namber {
  position: relative;
  margin-left: 32px;
  width: 108px;
  height: 36px;
  margin-top: 40px;
  color: rgb(32, 32, 39);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
  padding-top: 10px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
}
.cart-game__name {
  position: relative;
  padding-left: 32px;
  padding-top: 26px;
  padding-bottom: 36px;
  color: rgb(32, 32, 39);
  font-family: inherit;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

/*________МИНИ__ИГРЫ_____*/
.minigame {
  position: relative;
  padding-top: 46px;
  padding-bottom: 144px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: rgb(32, 32, 39);
}
.minigame__title {
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin-bottom: 40px;
}
.minigame__conteiner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.preview-game {
  margin-top: 32px;
  display: flex;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  justify-content: space-between;
}
.preview-game__text {
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.preview-game__title {
  color: rgb(32, 32, 39);
  font-family: inherit;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
}
.preview-game__description {
  color: rgb(32, 32, 39);
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
}
.preview-game__button {
  margin-top: 36px;
  padding: 16px 28px 16px 28px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  width: 247px;
  height: 66px;
}
.preview-game__button:hover {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}
.preview-game__img {
  width: 600px;
  height: 500px;
  border-radius: 30px;
}

/*________ПОДВАЛ_________*/
.footer {
  height: 150px;
  background-color: rgb(189, 237, 53);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__title {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

@media (max-width: 767px) {
  .fon {
    display: none;
  }
  .fon__star_big {
    display: none;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 700px;
  }
  .header__title {
    padding-top: 147px;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
  }
  .header__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .header__link {
    justify-content: space-around;
  }
  .header__button {
    margin-left: 29px;
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    pointer-events: none;
  }
  .header__runline {
    width: 1717px;
    height: 51px;
    top: 649px;
    left: -6px;
    padding: 16px 24px 16px 24px;
  }
  .header__runline-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
  }
  .aboutgame {
    padding-bottom: 48px;
  }
  .aboutgame__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
  }
  .aboutgame__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .aboutgame__conteiner {
    align-items: center;
  }
  .aboutgame__conteiner-column {
    align-items: center;
    grid-column: span 12;
  }
  .cart-game {
    width: 320px;
  }
  .cart-game__namber {
    margin-top: 20px;
  }
  .cart-game__name {
    padding-left: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .cart-game__name--br {
    display: none;
  }
  .cart-game__name--mobule {
    font-size: 24px;
  }
  .minigame {
    padding-top: 0px;
    padding-bottom: 49px;
    overflow: hidden;
  }
  .minigame__title {
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
    margin-bottom: 16px;
  }
  .preview-game {
    position: relative;
    flex-direction: column-reverse;
    height: auto;
  }
  .preview-game--right {
    flex-direction: column;
  }
  .preview-game__text {
    padding: 29px 29px 32px 29px;
  }
  .preview-game__title {
    font-size: 32px;
    line-height: 39px;
  }
  .preview-game__description {
    font-size: 16px;
    line-height: 20px;
  }
  .preview-game__img {
    height: 285px;
    width: auto;
  }
  .preview-game__button {
    width: 285px;
    height: 55px;
    padding: 16px 28px 16px 28px;
    font-size: 16px;
  }
  .footer {
    height: 100px;
  }
  .footer__title {
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 1024px) and (min-width: 833px) {
  .fon__star_big {
    display: none;
  }
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .cart-game__namber {
    margin-top: 20px;
  }
  .cart-game__name {
    height: 90px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  .minigame {
    padding-bottom: 40px;
  }
  .preview-game__text {
    padding: 30px;
  }
  .preview-game__title {
    font-size: 32px;
    line-height: 45px;
  }
  .preview-game__description {
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
  }
  .preview-game__button {
    margin-top: 20px;
  }
  .preview-game__br {
    display: none;
  }
  .footer {
    height: 120px;
  }
}/*# sourceMappingURL=style.css.map */